<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <!-- Log pattern 설정 -->
  <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>
  <conversionRule conversionWord="wex" class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
  <conversionRule conversionWord="wEx" class="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

  <property name="CONSOLE_LOG_PATTERN"
            value="%clr([%5p]) : %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m %n%wEx" />
  <property name="CONSOLE_LOG_CHARSET" value="UTF-8" />

  <!-- 콘솔 로그 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>${CONSOLE_LOG_CHARSET}</charset>
    </encoder>
  </appender>

  <!-- (선택) 파일 로그 -->
  <!--
  <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
  -->

  <!-- Spring 로그 최소화 -->
  <logger name="org.springframework" level="ERROR"/>
  <logger name="org.springframework.jdbc" level="ERROR"/>

  <!-- 루트 로그 -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <!-- <appender-ref ref="FILE"/> -->
  </root>

</configuration>
